nav {
  box-sizing: border-box;
  height: 80px;
  background: #333;
  color: white;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;

  .version {
    color: #888;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
  }
  
  ul {
    display: inline-block;
    margin: 15px 0;
    padding: 0 0 0 20px;
  }

  h1, li {
    display: inline-block;
    padding: 0 15px;
    border-right: 1px solid #999;

    &:first-child {
      padding-left: 0px;
    }

    &:last-child {
      border-right: none;
    }
  }

  a, a:active, a:visited {
    display: inline-block;
    // padding-top: 11px;
    color: white;
    font-size: x-large;
    text-decoration: none;

    &.active {
      text-decoration: underline;
    }
  }
}