.left-select-menu {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 80px 0 0 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;

  menu {
    display: block;
    height: 100%;
    width: 15%;
    min-width: 15%;
    max-width: 15%;
    margin: 0;
    padding: 0;
    border-right: 1px solid black;

    .version {
      position: absolute;
      bottom: -14px;
      left: 4px
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        cursor: pointer;
        border-bottom: 1px solid #777;
        padding: 5px 10px;
        // width: 100%;
        height: 100%;

        &.active {
          background-color: #eee;
        }

        &:last-child {
          border-bottom: none;
        }

      }
    }
  }

  &>section {
    padding: 0 20px;
    height: 100%;
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
  }

  .name {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0;
  }

  .subtext {
    margin: 6px;
    font-size: small;
    padding: 0 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    & > * {
      margin-right: 3px;
    }
  }
}