.faction {
  &>section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .column {
      width: 47%;
    }

  }
}

.indented {
  padding-left: 10px;
}

.downtime-list {
  // border-top: 1px solid #888;
  &>h3 {
    margin-bottom: 0;
  }

  &>section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    .downtime-activity {
      // border-bottom: 1px dotted #888;
      width: 32%;
      
      img {
        width: 1em;
      }

      h4 {
        margin-bottom: 0;
        font-size: 1.5em;
      }

      p {
        margin: 5px 0;
      }
    }
  }
}

// editing things
.edit-faction {
  padding: 80px 20px 20px 20px;

  label,input,textarea {
    width: 50%;
    display: block;
  }

  input, textarea {
    padding: 10px;
    box-sizing: border-box;
  }

  textarea {
    height: 12em;
  }

  input[type='checkbox'] {
    padding: 0;
    width: auto;
    display: inline-block;
    margin-left: 1em;
  }

  .downtime-activity {
    border-bottom: 1px solid #555;
    padding-left: 25px;

    &:last-child {
      border-bottom: none;
    }

    h4 {
      margin-left: -25px;
    }
  }
}

.faction {
  position: relative;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.edit-faction .elements,
.faction .elements
 {
  .single-element {
    padding-left: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

    
    &:last-child {
      border-bottom: none;
    }
  }
}

.element-number {
  display: block;
  position: absolute;
  left: 20px;
  font-size: x-large; 
  
}

.stacked-image {
  position: relative;

  img {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;

    &.half {
      border-bottom: 100% solid transparent;
      border-right: 100% solid transparent;
      clip-path: polygon(0 0, 0 40%, 100% 70%, 100% 0)
    }

    &.hide {
      display:none;
    }
  }
}